<html>
    <head>
        
    </head>
    <body>
        <h1><%= entry.title %></h1>
        <p class="error"><%= error %></p>
        <p class="success"><%= success %></p>
        <p class="info"><%= info %></p        
        <small><%= entry.date %></small>
        <small><%= entry.slug %></small>
        <p><%= entry.text %></p>
    </body>
</html>