<html>
    <head>
        
    </head>
    <body>
        <h1>Welcome to my blog</h1>
        <p>Welcome, <%= username %>.  <a href="/logout">logout</a></p>
        <p class="error"><%= error %></p>
        <p class="success"><%= success %></p>
        <p class="info"><%= info %></p>
        <a href="/admin/entries/create">Create a new entry</a>
        <% var keys = Object.keys(entries).reverse();
           keys.forEach(function(key) { 
            var entry = entries[key];
        %>
        <div>
        <a href="/admin/entries/update/<%= key %>">Update Post</a>
        <a href="/admin/entries/delete/<%= key %>">Delete Post</a>
        <h2><%= entry.title %></h2>
        <h3><%= entry.slug %></h3>
        <h6><%= entry.date %></h6>
        <p><%= entry.text %></p>
        <% }) %>
        </div>
    </body>
</html>